@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --size: 75px;
  --clr-bg: #272324;
  --clr1: #699bf7;
  --clr2: #0db6fe;
  --clr3: #9a2385;
  --clr4: #d648c9;
  --clr5: #49e9fa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  min-height: calc(100vh - 220px);
}

.htmltext table {
  border-collapse: collapse;
  border: 1px solid;
}
.htmltext table th,
td {
  border: 1px solid;
  padding: 8px 15px;
}
.htmltext table td img {
  width: auto !important;
  margin: 0;
}
.htmltext ol {
  /* color: #585858 !important; */
  list-style-type: decimal;
  font-size: 16px !important;
  padding-left: 20px;
}

.htmltext {
  display: inline-block;
}
.htmltext ul {
  /* color: #585858 !important; */
  list-style-type: revert-layer;
  font-size: 16px !important;
  padding-left: 20px;
}

.htmltext span p {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
}
.htmltext p {
  font-size: 16px !important;
  /* font-family: "Roboto sans-serif " !important; */
}

.htmltext span {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
  /* font-family: "Roboto sans-serif " !important; */
}

.htmltext img {
  max-width: 100% !important;
  width: inherit !important;
  margin: 20px 0;
}

.htmltext div {
  font-size: 16px !important;
  margin: 10px 0px;
}

.text-lg {
  font-size: 16px !important;
}

.htmltext,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
}

/* .submenu .submenu ul li div::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #5c5c58;
    border-radius: 86px;
    position: relative;
    left: -7px;
    top: 0;
  } */

.submenu .submenu ul {
  padding-left: 15px;
}

.singlesidebar .vmenu .li:first-child div {
  /* border-radius: 20px 0px 0px 0px;
  bac */
  background: #585858;
}

.spinner {
  --animation-duration: 1000ms;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.spinner .spinner-item {
  width: calc(var(--size) / 12);
  height: 80%;
  background: var(--clr-spinner);
  animation: spinner1 var(--animation-duration) ease-in-out infinite;
}
@keyframes spinner1 {
  50% {
    transform: scaleY(0.25);
  }
}

.spinner .spinner-item {
  --clr-spinner: var(--clr1);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}

.spinner .spinner-item:nth-child(1) {
  --clr-spinner: var(--clr1);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}
.spinner .spinner-item:nth-child(2) {
  --clr-spinner: var(--clr5);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner .spinner-item:nth-child(3) {
  --clr-spinner: var(--clr3);
  animation-delay: calc(var(--animation-duration) / 10 * -2);
}
.spinner .spinner-item:nth-child(4) {
  --clr-spinner: var(--clr4);
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner .spinner-item:nth-child(5) {
  --clr-spinner: var(--clr2);
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}
